* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-size: 14px; */
    font-weight: 400;
    color: #777;
}



h3 {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
}

h5 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}
#team {
    box-sizing: border-box;
}

#team i {
    font-size: 26px;
    color: #555;
}

#team p {
    font-weight: 500;
}

#team .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px #743ad5;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background: linear-gradient(to left, #743ad5, #d53a9d);
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
}

#team .card:hover h3,
#team .card:hover i {
    color: #fff;
}